# keep out of the repository the following files

# build files
*.egg-info/
__pycache__/

# all MacOS files
*.DS_Store

# ignore all images
#*.png

# all data files
#*.xlsx
#*.csv

# Scratch files
scratch.*

# Contents of live folder:
rpi/static/live/
rpi/static/plot.png
