<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload/View Excel</title>
</head>
<body>

    <!-- Website Heading -->
    <h1>Algae Pond Climate Simulator</h1>


    <!-- Instructions & Example -->
    <button onclick="window.location.href='{{ url_for('example_page') }}'">Instructions & Example</button>
    
    <br><br/>

    <!-- Live Light Profile -->
    <h3>1. 'Live' Light Profile</h3>
    <body>
        <p>Check the status of the current profile being run on the system</p>
        <button onclick="window.location.href='{{ url_for('live_light_profile') }}'">View 'Live' Profile</button>
    </body>

    <br><br/>

    <!-- New Light Profile Viewer -->    
    <h3>2. New Light Profile Viewer</h3>
    <body>
        <p>Check your light profile before uploading it to the Pond</p>
        <button onclick="window.location.href='{{ url_for('view_light_profile') }}'">Light Profile Viewer</button>                
    </body>

    <br><br/>

    <!-- Run a New Light Profile -->    
    <h3>3. Run a New Light Profile</h3>
    <body>
        <p> Upload and run a new light profile for the Pond</p>
        <button onclick="window.location.href='{{ url_for('run_light_profile') }}'">Upload and Run</button>                
    </body>

    <br><br/>

    <!-- Display Uploaded Profile (conditional) -->
    {% if file_uploaded %}
        <h4>Uploaded Light Profile</h4>
        <img src="{{ url_for('display_plot') }}" alt="Light Profile">
    {% endif %}

    <br><br/>


</body>
</html>
